# Using Naive Bayes to Predict What State You're From (If You Live in India)

In [62]:
import numpy as np
import pandas as pd
import requests

year = '2011'
api = lambda ep: f'http://digital-library.census.ihsn.org/index.php/api/tables/{ep}/{year}'
api_list = api('list')
api_info = lambda table: f"{api('info')}/{table}"
api_data = lambda table: f"{api('data')}/{table}"

In [102]:
# State, district, subdistrict, town-village
sdsdtv = pd.read_csv('data/PC11_TV_DIR.csv')

In [46]:
# Query religions per state data

# Info (build feature map)
rps_info = requests.get(api_info('PC11_C01')).json()
rps_features = religions_per_state_info['result']['result_']['features']
rps_feature_map = { feature['feature_name'] : { c['code'] : c['label'] for c in feature['code_list'] } for feature in rps_features }

# Data
rps = requests.get(api_data('PC11_C01')).json()
rps = pd.DataFrame(rps['data'])
for feature, labels in rps_feature_map.items():
    rps[feature] = rps[feature].map(lambda row: labels[row])
rps

,state,district,subdistrict,town,geo_level,urbrur,value,indicator,sex,religion
0,0,0,0,0,0,All,1210854977,1,All,All
1,0,0,0,0,0,Rural,833748852,1,All,All
2,0,0,0,0,0,Urban,377106125,1,All,All
3,1,0,0,0,1,All,12541302,1,All,All
4,1,0,0,0,1,Rural,9108060,1,All,All
...,...,...,...,...,...,...,...,...,...,...
95,1,5,16,800062,4,Urban,26854,1,All,All
96,1,5,17,0,3,All,77947,1,All,All
97,1,5,17,0,3,Rural,77947,1,All,All
98,1,5,17,0,3,Urban,0,1,All,All
99,1,5,18,0,3,All,141366,1,All,All